<%- include('partials/header.ejs')  %>

<!-- Home Section -->
<section id="main" class="home">
    <div class="container">
        
        <h1>Bias In Recruitment </h1>
        <hr style="border: 0; background-color: #E6695A; width: 50%; height: 4px; margin: auto; opacity: 80%;">

        <iframe src="https://drive.google.com/file/d/1rAJwYfWQs8LCPreZxp4S1oV--TyIUi8I/preview" style="margin: 30px auto; display: block;" height="300px" width="500px" allow="autoplay"></iframe>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe26J4bHbTAHx9y7XsiSh0qA-KPseay4aFJzUzwIklz5l8HQQ/viewform?embedded=true" width="640" height="1814" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

    </div>
</section>
 <%- include('partials/footer.ejs')  %>